body{
    background-color: #0B0C09;
    color: #F1F0E8;
}
footer{
    padding: 5px;
    padding-left: 30px;
}
.footertexto{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 3px;
}